@page "/MainPage"

@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using Client.Pages.Components;
@using Client.Models.LastChats;
@using Client.Models.Invitations;
@using Client.Models.Navigation;

@inject NavigationManager navigation
@inject IJSRuntime JSRuntime 
@inject LastChatService lastChatService
@inject InvitationService invitationService;
@inject GlobalNavigation globalNavigation;

<div>
    <div>
        <form id="search-bar" @onsubmit="SearchBarSubmit">
            <input @bind="SearchInput" type="text" placeholder="Search" />
            <button type="submit" id="search-bar-btn">
                <img src="./Images/search.png"/>
            </button>
        </form>
    </div>
    
    <div>
        <div id="localuser-display">
            <img class="avatar" alt="local_user_avatar" src="@currentUser.AvatarImageSource" />
            <div class="userinfo">
                <p class="userinfo">@currentUser.Name<span style="color:dimgray">#@currentUser.Id</span> </p>
            </div>
            <div class="settings-frame-btn">
                <div @onclick=OpenSettings class="settings-btn">
                    <img src="Images/settings.png" />
                </div>
            </div>
        </div>
    </div>

    <div id="menu-header">
        <ul>
            <li>
                <span class="@(ShouldRenderLastChats ? "option-selected" : "")" @onclick="()=> ShouldRenderLastChats = true">Last Chats</span>
            </li>
            <li>
                <span class="@(ShouldRenderLastChats ? "" : "option-selected")" @onclick="()=> ShouldRenderLastChats = false">Requests</span>
            </li>
        </ul>
    </div>

    <LoadingComponent Class="LastChatsLoading" LoadingController=@LoadingEvents["LastChatsLoading"]></LoadingComponent>
    <MiniProfile Controller="@MiniProfileController"></MiniProfile>

    <div id="last-chats">
        <ul style="display: @(ShouldRenderLastChats ? "initial" : "none")">
            @foreach (LastChat lastChat in lastChatService.GetLastChats()) {
                <li>
                    <div @onclick="() => ShowMiniProfileMenu(lastChat.BindedView)" class="chat-frame">
                        <div>
                            <img class="chat-author-avatar" src="@lastChat.BindedView.AvatarImageSource">
                            <div style="background-color: @(lastChat.GetStatusColor())" class="chat-author-status"></div>
                        </div>
                        <div class="chat-content">
                            <div class="chat-info">
                                <span class="chat-author-name">@lastChat.Name</span>
                                <span class="chat-timestamp">@lastChat.FactoredTime</span>
                            </div>
                            <div class="chat-body">
                                <span>@lastChat.MessageSenderName: @lastChat.Message</span>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

    <!-- Temporary solution to hide and show list / use offscreen instead -->
    <ul id="last-chats" style="display: @(ShouldRenderLastChats ? "none" : "initial")">
        @foreach (Invitation invitation in invitationService.GetInvitations())
        {
            <li>
                <div class="chat-frame">
                    <div>
                        <img class="chat-author-avatar" src="@invitation.BindedView.AvatarImageSource">
                    </div>
                    <div class="chat-content">
                        <div class="chat-info">
                            <span class="chat-author-name">@invitation.Name <span style="color: #72767d">#@invitation.Id</span> </span>
                        </div>
                    </div>
                    <button @onclick="() => AcceptInviteRequest(invitation)" class="requests-accept-btn"> ACCEPT </button>
                </div>
            </li>
        }
    </ul>
</div>